body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #00ff00, #0000ff);
    color: #ffffff;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.signup {
    padding: 50px 0;
    text-align: center;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    max-width: 700px;
    margin: auto;
}
.form-container label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}
.form-container input {
    width: calc(100% - 20px);
    padding: 16px;
    margin-bottom: 25px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
}
.form-container input[type="submit"],
.form-container button {
    background-color: #ff00ff;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
}
.form-container input[type="submit"]:hover,
.form-container button:hover {
    background-color: #ff3399;
}
